.box .card {
    position: relative;

    width: 300px;
    min-height: 400px;

    padding: 20px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    transition: all 0.5s ease-in-out;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    background: var(--secondary-color);
}

.card:hover {
    transform: scale(1.05);
}

.card__img img {
    height: 150px;
}

.card__title {
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--accent-orange-color);
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

/* * Fifth subtask */
.shop-card .card__content {
    width: 100%;
    height: 100%;

    transition: all 0.5s ease-in-out;
}

.shop-card::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: inherit;

    transition: all 0.5s ease-in-out;

    font: 900 100px/1 "Roboto", sans-serif;
    color: var(--secondary-color);
}

.shop-card:nth-child(1)::before {
    content: "01";
    /* random linear gradient with 2 main colors */
    background: linear-gradient(45deg, #941c1c, var(--accent-orange-color),var(--accent-gray-color));
}

.shop-card:nth-child(2)::before {
    content: "02";
    /* random linear gradient with 2 main colors */
    background: linear-gradient(45deg, #1e5b1e, #3ab885, var(--accent-gray-color));
}

.shop-card:nth-child(3)::before {
    content: "03";
    /* random linear gradient with 2 main colors */
    background: linear-gradient(45deg, #2a2a82, var(--accent-blue-color) ,var(--accent-gray-color));
}

.shop-card:hover .card__content {
    /* 10% of the card height (::before height) + 20px (default padding)*/
    margin-top: calc(10% + 20px);
}

.shop-card:hover::before {
    height: 10%;

    font-size: 25px;
    font-weight: 500;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* * Sixth subtask */
.politics-card .card__img {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;

    width: 100%;
    height: 100%;

    border-radius: inherit;
}

.politics-card .card__img img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: inherit;
}

.politics-card .card__content {
    width: 100%;
    height: 100%;

    scale: 0;

    transition: all 0.3s ease-in-out;
}

.politics-card:nth-child(-n + 2) .card__text {
    color: #fff;
}

.politics-card::before {
    content: "";

    position: absolute;
    top: 50%;

    width: 100%;
    height: 0;

    z-index: 1;

    border-radius: inherit;

    transition: all 0.5s ease-in-out;
}

.politics-card:nth-child(1)::before {
    /* Semi-transparent linear gradient */
    background: linear-gradient(0deg, rgba(228, 9, 9, 0.5), rgba(16, 16, 193, 0.5), rgba(255, 255, 255, 0.5));
}

.politics-card:nth-child(2)::before {
    /* Semi-transparent linear gradient */
    background: linear-gradient(0deg, rgba(51, 172, 18, 0.5), rgba(183, 17, 17, 0.5));
}

.politics-card:nth-child(3)::before {
    /* Semi-transparent linear gradient */
    background: linear-gradient(0deg,  rgba(255, 255, 255, 0.5), rgba(255, 242, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.politics-card:hover::before {
    top: 0;

    height: 100%;
}

.politics-card:hover .card__content {
    scale: 1;

    z-index: 1;
}

/* * Seventh subtask */
.card.travel-card {
    min-height: 200px;
}

.travel-card .card__img {
    border-radius: inherit;
}

.travel-card .card__img img {
    width: 265px;

    object-fit: cover;
    border-radius: inherit;
}

.travel-card .card__content {
    display: none;
}

.travel-card:hover {
    gap: 10px;

    min-height: 362px;
}

.travel-card:hover .card__content {
    display: flex;
    opacity: 0;
    animation: show-content 0.5s ease-in-out forwards;
}

@keyframes show-content {
    0% {
        transform: translateY(50px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* * Eighth subtask */
.card.food-card {
    width: 400px;
    min-height: 300px;

    background: none;
    box-shadow: none;
}

.food-card .card__video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 0;

    border-radius: 10px;
}

.food-card .card__content {
    position: relative;

    align-items: flex-start;
    text-align: left;

    opacity: 0;

    z-index: 2;

    transition: all 0.5s ease-in-out;
}

.food-card .card__text {
    width: 80%;
    color: var(--secondary-color);
}

.food-card::before {
    content: "";

    position: absolute;
    top: 10%; /* (100% - 80%) / 2 */
    left: -100%;

    width: 80%;
    height: 80%;

    opacity: 0;
    scale: 0;

    z-index: 1;

    background: var(--accent-gray-color);

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    transition: all 0.25s ease-in-out;
}

.food-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.food-card:hover .card__content {
    opacity: 1;
}

.food-card:hover::before {
    left: 0;
    scale: 1;
    opacity: 1;
}